<!-- alarm-settings/android/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- package="expo.modules.alarmsettings" 제거 -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <!-- 추가 설정 필요 시 사용 -->
    </application>
</manifest>
